@import "../../index.scss";

.Cart {
  width: 80%;

  margin: 2rem 10%;

  @media screen and (max-width: 1000px) {
    width: 90%;

    margin: 2rem 5%;
  }

  @media screen and (max-width: 870px) {
    width: 95%;

    margin: 2rem 2.5%;
  }

  .Cart__Empty {
    height: 45vh;

    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > p {
    font-size: 1.5rem;

    text-align: center;

    margin: 2rem;
  }

  .Cart__Headers {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    text-align: center;

    color: grey;

    border-bottom: 0.2rem solid grey;
    padding-bottom: 1rem;

    .Cart__Headers__Product {
      flex: 3;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    .Cart__Headers__Price {
      flex: 1.2;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    .Cart__Headers__Quantity {
      flex: 1.2;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    .Cart__Headers__Quantity {
      flex: 1.2;

      @media screen and (max-width: 700px) {
        display: none;
      }
    }
  }

  .Cart__Item {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    margin: 2rem 0;

    border-top: 0.1rem solid $accent;
    border-bottom: 0.1rem solid $accent;

    @media screen and (max-width: 700px) {
      flex-direction: column;

      gap: 1.5rem;

      padding: 1rem 0;
    }

    .Cart__Item__Product {
      flex: 3;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      @media screen and (max-width: 700px) {
        flex-direction: column;

        text-align: center;
      }

      & > img {
        max-width: 40%;

        @media screen and (max-width: 700px) {
          width: 50%;

          min-width: 300px;
        }
      }

      .Cart__Item__Product__Name {
        h2 {
          font-size: 2rem;

          @media screen and (max-width: 1200px) {
            font-size: 1.6rem;
          }
        }

        p {
          @media screen and (max-width: 1200px) {
            font-size: 0.9rem;
          }
        }
      }
    }

    .Cart__Item__Price {
      flex: 1.2;

      font-size: 1.2rem;
      font-weight: bold;

      text-align: center;

      @media screen and (max-width: 1200px) {
        font-size: 0.9rem;
      }

      @media screen and (max-width: 700px) {
        display: none;
      }
    }

    .Cart__Item__Quantity {
      flex: 1.2;

      @media screen and (max-width: 700px) {
        width: 70%;

        min-width: 350px;
      }

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      & > button {
        color: grey;

        margin-top: 1rem;

        padding: 0.5rem 2rem;

        border: none;
        border-bottom: 0.2rem solid grey;

        font-size: 1.2rem;

        background: transparent;

        transition: all 0.3s ease-in-out;

        &:hover {
          color: $accent;

          border-bottom: 0.2rem solid $accent;
        }

        @media screen and (max-width: 1200px) {
          font-size: 0.9rem;

          padding: 0.3rem 1rem;
        }

        @media screen and (max-width: 700px) {
          padding: 0.3rem 2rem;
        }
      }

      & > div {
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;

        border: 0.1rem solid $accent;

        padding: 0.5rem;

        button {
          width: 40%;

          border: none;

          background: transparent;
        }

        p {
          width: 20%;

          text-align: center;
        }
      }
    }

    .Cart__Item__Total {
      flex: 1.2;

      text-align: center;

      font-size: 1.2rem;
      font-weight: bold;

      @media screen and (max-width: 1200px) {
        font-size: 0.9rem;
      }

      @media screen and (max-width: 700px) {
        width: 70%;

        min-width: 350px;
      }
    }
  }

  .Cart__ContinueShopping {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 20%;
      min-width: 17rem;

      padding: 0.5rem 1rem;

      font-weight: bold;
      font-size: 1.2rem;

      margin: 1rem 40%;

      text-align: center;

      border: none;
      border-bottom: 0.2rem solid $text;

      background: transparent;
    }
  }

  .Cart__Subtotal {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 1rem 0;
  }

  .Cart__Checkout {
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;

    button {
      width: 40%;
      min-width: 17rem;

      background-color: $primary;

      color: $background;

      font-size: 1.5rem;
      font-weight: bold;

      padding: 1rem;
    }
  }
}
