@import "../../index.scss";

.Item {
  width: 80%;

  margin: 0 10%;

  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 750px) {
    flex-direction: column;
  }

  .Item__Left {
    width: 50%;

    min-width: 450px;

    @media screen and (max-width: 972px) {
      min-width: 350px;
    }

    text-align: center;

    & > div > img {
      max-width: 70%;

      @media screen and (max-width: 750px) {
        max-width: 100%;
      }
    }

    .Item__Left__Switcher {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;

      & > img {
        max-width: 20%;

        @media screen and (max-width: 750px) {
          max-width: 40%;
        }
      }
    }
  }

  .Item__Right {
    width: 50%;

    min-width: 450px;

    @media screen and (max-width: 972px) {
      min-width: 350px;
    }

    & > * {
      margin: 2rem 0;
    }

    .Item__Right__Title {
      width: 100%;

      h2 {
        font-size: 3rem;
      }

      p {
        font-size: 1.5rem;

        font-weight: bold;
      }

      @media screen and (max-width: 1000px) {
        h2 {
          font-size: 2.5rem;
        }

        p {
          font-size: 1.3rem;

          font-weight: bold;
        }
      }

      @media screen and (max-width: 750px) {
        text-align: center;
      }
    }

    .Item__Right__Sizes {
      width: 100%;

      display: flex;
      justify-content: flex-start;

      @media screen and (max-width: 750px) {
        justify-content: center;
      }

      button:first-child {
        margin-right: 1rem;
      }

      button:last-child {
        margin-left: 1rem;
      }

      button {
        padding: 0.2rem 1rem;

        background: transparent;

        border: none;

        color: grey;
      }

      .Item__Right__Sizes__ButtonActive {
        border-bottom: 0.2rem solid $accent;

        color: $accent;
      }
    }

    .Item__Right__AddToCart {
      width: 100%;

      button {
        width: 100%;

        background-color: $primary;

        color: $background;

        font-size: 1.5rem;
        font-weight: bold;

        padding: 1rem;
      }
    }

    .Item__Right__Dropdowns {
      width: 100%;

      .Item__Right__Dropdown {
        width: 100%;

        .Item__Right__Dropdown__Name {
          width: 100%;

          padding: 1rem 0;
          margin: 1rem 0;

          border-top: 0.1rem solid $accent;
          border-bottom: 0.1rem solid $accent;

          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }
    }
  }
}
