@import "../../index.scss";

.Pay {
  width: 90%;

  margin: 2rem 5%;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  @media screen and (max-width: 700px) {
    flex-direction: column;
  }

  .Pay__Left {
    width: 40%;

    @media screen and (max-width: 700px) {
      width: 80%;
    }

    .Pay__Left__Titles {
      margin: 1.5rem 0;
      h2 {
        margin: 1rem 0;
      }
    }

    .Pay__Left__Items {
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
    }

    .Pay__Left__Item {
      width: 100%;

      margin: 1rem 0;

      display: flex;
      align-items: center;
      justify-content: flex-start;

      gap: 2rem;

      @media screen and (max-width: 911px) {
        flex-direction: column;
      }

      .Pay__Left__Item__Image {
        width: 10rem;
        height: 10rem;

        position: relative;

        border: 0.2rem $text solid;

        display: flex;
        align-items: center;
        justify-content: center;

        @media screen and (max-width: 1044px) {
          width: 7rem;
          height: 7rem;
        }

        @media screen and (max-width: 700px) {
          width: 10rem;
          height: 10rem;
        }

        img {
          max-width: 100%;
        }

        div {
          position: absolute;
          top: -1rem;
          right: -1rem;

          width: 2rem;
          height: 2rem;

          font-size: 1rem;

          display: flex;
          align-items: center;
          justify-content: center;

          border-radius: 50%;

          background-color: $text;

          p {
            color: $background;
          }
        }
      }

      & > div:nth-child(2) {
        @media screen and (max-width: 911px) {
          text-align: center;
        }
      }
    }
  }

  .Pay__Right {
    width: 60%;

    @media screen and (max-width: 700px) {
      width: 80%;
    }

    .Pay__Right__Email {
      width: 100%;
    }

    .Pay__Right__Card {
      width: 100%;
    }

    .Pay__Right__Shipping {
      width: 100%;
    }

    .Pay__Right__PayButton {
      width: 100%;

      background-color: $primary;

      color: $background;

      font-size: 1.5rem;
      font-weight: bold;

      padding: 1rem;

      margin: 1rem 0;
    }

    .Pay__Right__Message {
      margin: 1rem 0;
      text-align: center;
      color: red;
    }
  }
}
