@import "../../index.scss";

.Splash {
  height: 100%;
  width: 100%;

  position: relative;

  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("../../assets/logos/splash.webp") no-repeat;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & > button {
    position: absolute;

    min-width: 250px;

    left: 50%;
    top: 50%;

    transform: translate(-50%, -50%);

    padding: 1rem 2rem;

    font-size: 1.7rem;

    font-family: inherit;
    font-weight: bold;

    cursor: pointer;

    background-color: $background;

    border: none;

    color: $text;

    @media screen and (max-width: 500px) {
      font-size: 1.5rem;

      min-width: 240px;
    }
  }
}
