@import "../../index.scss";

.Marquee__Href {
  text-decoration: none;

  .Marquee {
    color: $background;
    background-color: $text;

    height: 5%;

    z-index: 1;

    .Marquee__Text {
      margin: 0 2rem;
    }
  }
}
