@import "../../index.scss";

.Navbar {
  width: 100%;
  height: 15%;

  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: space-between;

  .Navbar__Image {
    width: 20%;

    cursor: pointer;

    .Navbar__Image__Big {
      width: 100%;

      @media screen and (max-width: 600px) {
        display: none;
      }
    }

    .Navbar__Image__Small {
      display: none;

      width: 100%;

      @media screen and (max-width: 600px) {
        display: flex;
      }
    }

    @media screen and (max-width: 1100px) {
      width: 25%;
    }

    @media screen and (max-width: 850px) {
      width: 35%;
    }

    @media screen and (max-width: 600px) {
      width: 20%;
    }

    @media screen and (max-width: 500px) {
      width: 25%;
    }
  }

  .Navbar__Links {
    display: flex;
    align-items: center;
    justify-content: space-between;

    transition: all 0.3s ease-in-out;

    a {
      font-size: 1.2rem;

      margin: 0 1rem;

      color: $text;

      text-decoration: none;
      font-weight: bold;

      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      @media screen and (max-width: 1100px) {
        font-size: 1rem;
      }

      @media screen and (max-width: 850px) {
        display: none;
      }
    }

    a::after {
      content: "";

      height: 0.2rem;
      width: 0%;

      background-color: $text;
      transition: all 0.3s ease-in-out;
    }

    a:hover {
      color: $accent;
    }

    a:hover::after {
      width: 100%;

      background-color: $accent;
    }
  }

  .Navbar__Icons {
    width: 20%;

    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media screen and (max-width: 1100px) {
      width: 25%;
    }

    &:nth-child(1) {
      @media screen and (max-width: 850px) {
        display: none;
      }
    }

    * {
      font-size: 2.5rem;

      margin: 0 1rem;

      cursor: pointer;

      display: flex;
      align-items: center;
      justify-content: flex-end;
      flex-direction: column;

      @media screen and (max-width: 1100px) {
        font-size: 2.3rem;
      }

      @media screen and (max-width: 700px) {
        font-size: 1.9rem;
      }

      @media screen and (max-width: 500px) {
        margin: 0 0.7rem;
      }
    }

    *:hover {
      color: $accent;
    }

    .Navbar__Icons__Cart {
      position: relative;

      &:hover > div {
        background-color: $accent;
      }

      div {
        transition: all 0.3s ease-in-out;

        position: absolute;
        top: -0.8rem;
        right: -0.8rem;

        height: 1.7rem;
        width: 1.7rem;

        border-radius: 50%;

        background-color: $text;
        color: $background;

        font-size: 1rem;

        display: flex;
        align-items: center;
        justify-content: center;

        pointer-events: none;
      }
    }

    .Navbar__Icons__Rectangles {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 0.5rem;

      height: 50px;

      display: none;

      z-index: 2;

      .Navbar__Icons__Rectangle__One {
        width: 50px;
        height: 4px;

        background-color: $text;

        position: relative;

        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 700px) {
          width: 40px;
        }
      }

      .Navbar__Icons__Rectangle__Two {
        width: 50px;
        height: 4px;

        background-color: $text;

        position: relative;

        transition: all 0.3s ease-in-out;

        @media screen and (max-width: 700px) {
          width: 40px;
        }
      }

      @media screen and (max-width: 850px) {
        display: flex;
      }
    }
  }
}

.Navbar__Small {
  width: 0vw;
  height: 100vh;

  position: absolute;
  right: 0;
  top: 0;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  word-wrap: normal;
  white-space: nowrap;

  z-index: 1;

  overflow-x: hidden;

  background-color: $text;

  transition: all 0.3s ease-in-out;

  * {
    color: $background;

    margin: 1rem 0;

    font-size: 2rem;
    text-decoration: none;
  }
}
