@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600;900&display=swap");

$text: #151313;
$background: #ffffff;
$primary: #000000;
$secondary: #e7e4e4;
$accent: #363030;

body {
  padding: 0;
  margin: 0;

  height: 100%;

  background-color: $background;
  color: $text;

  font-family: "Inter", sans-serif;

  overflow-x: hidden;
}

#root {
  height: 100vh;

  & > div {
    height: 100%;
  }
}

* {
  padding: 0;
  margin: 0;

  box-sizing: border-box;
}

button {
  font-family: inherit;

  cursor: pointer;
}
